.read-the-docs {
	color: #888;
}

.background {
	position: absolute;
	width: 99.1vw;
	height: 108vh;
	top: 0px;
	overflow: hidden;
	z-index: -10;
}
.content {
	width: 80vw;
	min-height: 94vh;
	overflow: hidden;
	margin: 0 auto;
	background-color: #eaeaea;
}
